.funny-glasses {
    position: relative;
    left: 212px;
    bottom: 108px;
}

.bandana {
    position: absolute;
    left: 110px;
    top: 175px;
}

.pawprint {
    position: fixed;
    left: 65px;
    top: 50px;
}

.luna {
    position: sticky;
    left: 65px;
    top: 45px;
}

.top-hat {
    z-index: 1;
}
